.flex-container{
    display: flex;
}
.main{
    flex-direction: column;
}
/*Section - Header*/
.header{
    align-items: center;
    height: max-content;
    flex: 1 1 auto;
}

.ul-right-links
{
    list-style: none;
    gap:20px;
    padding-left:0;

}
a{
    text-decoration: none;
}
.heading{
    margin-right: auto;
}
/*End of Section - Header*/

/*Sections style*/
.sections{
    flex-direction: column;
}
.left{
    flex-direction: column;
}
.header-info{
    align-items: center;
}
/*End of sections style*/

