body{
    display: flex;
    background-color: black;
}
.flex-container{
    display: flex;
}
.main{
    flex-direction: column;
     margin-left: 20vw;
     margin-right: 20vw;
     padding-left: 30px;
     padding-right: 30px;
     width: 60vw;
    flex: 1 1 0;
    height: 100vh;
    background-color: white;
    align-items: center;
}
/*Section - Header*/
.header{
    align-items: center;
    justify-content: space-;
    height: max-content;
    flex: 0 1 auto;
    width: 840px;
}

.ul-right-links
{
    list-style: none;
    gap:20px;
    padding-left:0;

}
a{
    text-decoration: none;
}
.heading{
    margin-right: auto;
}
/*End of Section - Header*/

/*Sections style*/
.sections{
    flex-direction: column;
    gap: 30px;
    flex: 1 1;
}
/*Children of .section class-flex properties */

/* Under header section*/ 
.header-info{
    align-items: center;
    flex: 1 1 0;
    justify-content: center;
}

.left{
    flex-direction: column;
    flex: 0 1 0;
    min-width: 400px;
    height: 200px;
    padding-right: 40px;
    justify-content: center;

}

.right{
    flex: 0 1 0;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    height: 200px;
    background-color: lightgrey;
}

.img-place-holder{
    color: white;
}

/*End*/

/*Radnom-info section*/
.random-info{
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-boxes{
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.boxes{
    gap: 40px;
}

.box{
     
    height: 140px;
    width: 140px;
    border: 2px solid black;
}

.box-info{
    width: 140px;
}

/*End*/

/*Quote section*/
.quote{
    flex: 1 1 0;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#quote{
    width: 696px;
    align-self: center;
}

.author{
    align-self: center;
    width: 696px;
}
.author-text{
    margin-left:auto; 
}

/*End*/
/*Call to action section*/
.call-to-action{
    flex: 1 1 0;
    align-items: center;
    justify-content: center;

}
.inner-box{
    width: 840px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 110, 255);
}

/*End*/
/*End of sections style*/

.footer{
    min-height: 50px;
    flex: 0 1 auto;
    margin-bottom: 0px;
}

